<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bslidingwall_00-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{89,45},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bslidingwall_00-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{73,1},{42,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bslidingwall_00-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{38,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{38,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bslidingwall_00-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{38,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,45},{38,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bslidingwall_00-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{38,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,85},{38,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bslidingwall.png</string>
            <key>size</key>
            <string>{144,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0686b84bc7253868872ded655fb3d69:eee8cb044012115b7570ed100ef27945:aa57eb621fe9763ae97460b0614cd8d1$</string>
            <key>textureFileName</key>
            <string>Bslidingwall.png</string>
        </dict>
    </dict>
</plist>
