<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashmovedowneff_00-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{141,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmovedowneff_00-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{141,61},{58,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashmovedowneff_00-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,145},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmovedowneff_00-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{73,205},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmovedowneff_00-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{141,121},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmovedowneff_00-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{141,177},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmovedowneff_00-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-12}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{73,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmovedowneff_00-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-12}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{73,69},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmovedowneff_00-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-12}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{73,137},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmovedowneff_00-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmovedowneff_00-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,73},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dashdowneff_00.png</string>
            <key>size</key>
            <string>{200,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:227f7f2b7df07f6a4958c19597ec71fe:b6656e7d5e70303637394af3717b969e:8b723454395ac3c8bc0c0e9f2fce8be0$</string>
            <key>textureFileName</key>
            <string>dashdowneff_00.png</string>
        </dict>
    </dict>
</plist>
