<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashmoveeff_00-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{17,37},{62,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashmoveeff_00-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{70,18}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{17,9},{70,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmoveeff_00-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{58,14}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{65,37},{58,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashmoveeff_00-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{74,6}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{9,1},{74,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmoveeff_00-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{66,6}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{17,29},{66,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashmoveeff_00-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{90,6}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{9,9},{90,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashmoveeff_00-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{98,6}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dashmoveeff_00.png</string>
            <key>size</key>
            <string>{88,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b4bd2a5cb3fc8a2dd6c5fa64ac02e6d:dcd50dd265a30351543416f0bfd10440:c1bdbc880dc530e66b1ca4a17d0c2730$</string>
            <key>textureFileName</key>
            <string>dashmoveeff_00.png</string>
        </dict>
    </dict>
</plist>
