<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floorlandingash_00-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-32}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,121},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{58,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,65},{58,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-20}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,261},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,313},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{22,10}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{49,233},{22,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floorlandingash_00-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{49,257},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{58,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,93},{58,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,33},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,149},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,177},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,205},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-22}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,289},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorlandingash_00-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-20}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,233},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>floorlandingash_00.png</string>
            <key>size</key>
            <string>{60,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:551ce21c99f4795a20be78245e0aa56c:2d6c8c77a21ccd414027524a4674ce75:6a25db9566a4f27caafdaa41efea90e3$</string>
            <key>textureFileName</key>
            <string>floorlandingash_00.png</string>
        </dict>
    </dict>
</plist>
