<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Respawn_00-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{222,214}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{217,481},{222,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{222,218}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,697},{222,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{170,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{305,113},{170,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,2}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{145,113},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,2}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,65},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,2}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{281,1},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{193,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{61,1},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{129,1},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{222,218}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{225,697},{222,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{226,222}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{225,917},{226,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{226,222}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1141},{226,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{226,222}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{229,1141},{226,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{222,218}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,917},{222,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{214,210}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,481},{214,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{202,198}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{189,281},{202,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Respawn_00-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{186,182}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,273},{186,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Respawn.png</string>
            <key>size</key>
            <string>{476,1364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cc91c12b1f0892cae86aad1ab4308c9:b20b3475d4a76fa49627226ba0297218:68148871ce032e96a93ab22b9d9f976f$</string>
            <key>textureFileName</key>
            <string>Respawn.png</string>
        </dict>
    </dict>
</plist>
