<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drop_01-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,81},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_01-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{57,309},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_01-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{57,381},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_01-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{66,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_01-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,225},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_01-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{69,1},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_01-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,153},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_01-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{62,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{65,225},{62,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_01-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{58,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{69,89},{58,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_01-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,309},{54,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>drop1plist.png</string>
            <key>size</key>
            <string>{128,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d610c114ba31801ad86dc85d8cb84d7a:e8c03f47f4f65b401b4784f593f70a25:012b662f6b863d82971f1873babcc497$</string>
            <key>textureFileName</key>
            <string>drop1plist.png</string>
        </dict>
    </dict>
</plist>
