<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bholdwallturnface_00-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{45,1},{38,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bholdwallturnface_00-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{69,41},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bholdwallturnface_00-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bholdwallturnface_00-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,69},{38,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bholdwallturnface.png</string>
            <key>size</key>
            <string>{108,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:945d736e8af018724f75f18a56264a78:8b2140ca2996adf3120e71f070d06b58:a6a75c610e1eceb2cdca7b678756e507$</string>
            <key>textureFileName</key>
            <string>Bholdwallturnface.png</string>
        </dict>
    </dict>
</plist>
