<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>holdwalldown_00-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,249},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>holdwalldown_00-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,317},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>holdwalldown_00-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{38,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,177},{38,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>holdwalldown_00-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{38,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{38,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>holdwalldown_00-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{38,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,89},{38,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>holdwalldown.png</string>
            <key>size</key>
            <string>{40,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3e487d3079edb3fb07214b757508db0:6374c11ba48f639ad8bb83a720618ace:c3527a4fb6616ea29395c29aa5d1291e$</string>
            <key>textureFileName</key>
            <string>holdwalldown.png</string>
        </dict>
    </dict>
</plist>
