<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bholdwall_00-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bholdwall_00-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,69},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bholdwall_00-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,137},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bholdwall_00-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,205},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bholdwall_00-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,273},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bholdwall_00-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,341},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bholdwall_00-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bholdwall.png</string>
            <key>size</key>
            <string>{40,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faaf4d482ecd3dea9b9583da02298e12:dee45b96cb90ff6cc7f665b8b7104320:84e04a08a71f25b62af9ce643c877d94$</string>
            <key>textureFileName</key>
            <string>Bholdwall.png</string>
        </dict>
    </dict>
</plist>
